* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#button-container {
    display: flex;
    margin: 12px 0;
    justify-content: center;
}

#button-container button {
    font-size: 1.2em;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em;
    color: white;
    background: grey;
}

.container {
    box-sizing: content-box;
    min-width: 800px;
    width: 800px;
    min-height: 800px;
    margin: 0 auto 1.8em auto;
    display: flex;
    flex-direction: column;
    border: 12px outset #7e8491;
    background: black;
}

.roll {
    flex: 1;
    display: flex;
    height: 6.25%;
}

.cell {
    flex: 1;
    /*border: 1px solid black;*/
    width: 6.25%;
}

.sketched {
    background: white;
}
